<h1>{{reqType}} Request Received</h1>
<h2>Query Parameter Fields and Values</h2>
<ul>
	{{#each qsArray}}
		<li>{{this.field}} = {{this.data-value}}</li>
	{{/each}}
</ul>

<h2>{{postParams}}</h2>
<ul>
	{{#each pdArray}}
		<li>{{this.field}} = {{this.data-value}}</li>
	{{/each}}
</ul>

